*~
*.iml
*.ipr
*.iws
.idea*
lib
out
**/RUNNING_PID
**/logs/
**/project/target/
**/target
**/.sbtserver*
**/gitignore
bower
**/__pycache__
/derby.log
/metastore_db/*
*.pyc
*.ipynb_checkpoints
/lib_managed/
